@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #ccc;
}

.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contenedor__titulo {
  font-size: 3.8rem;
  text-transform: uppercase;
}

.contenedor__subtitulo {
  font-size: 2.4rem;
}

.contenedor__bloques {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 300px));
  gap: 1rem;
}

.bloque {
  height: 100px;
  opacity: 0.5;
  cursor: pointer;
}

@media (min-width: 768px) {
  .contenedor__bloques {
    gap: 2rem;
  }

  .bloque {
    height: 200px;
  }
}

.bloque.activo {
  opacity: 1;
}

#cuadro-amarillo {
  background-color: yellow;
}

#cuadro-azul {
  background-color: blue;
}

#cuadro-verde {
  background-color: green;
}

#cuadro-rojo {
  background-color: red;
}

.dificultades {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.btn {
  padding: 1rem 2rem;
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-jugar,
.btn-reiniciar {
  text-transform: uppercase;
}

.btn:hover {
  background-color: aqua;
  color: black;
}

.estado {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

.oculto {
  display: none;
}